:root{
    --card-header-bg : #F7F7F7;
    --card-header-font-color : #222831;
    --card-description-bg : #222831;
    --card-description-font-color : #F7F7F7;
    --title-font : 'Quicksand', sans-serif;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: #EEEEEE;
    overflow-x: hidden;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    width: 100vw;
    height: 6rem;
    background-color: #000000;
}

form{
    width: 25rem;
    height: 40rem;
    border: 2px solid black;
    margin: 1rem auto;
    position: relative;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translate(100rem , 0rem );
    transition: transform 500ms ease-in;
}

.formshow{
    transform: translate(0rem , 0rem );
}

.cross{
    position: absolute;
    top: 2%;
    right: 2%;
    cursor: pointer;
    width: 1.7rem;
}

form input,textarea{
    display: block;
    width: 20rem;
    padding: 0.5rem;
    margin: 1rem;
    font-size: 1rem;
    outline: none;
}

form button{
    display: block;
    width: 8rem;
    padding: 1rem;
    background-color: #0a0d10;
    outline: none;
    border: none;
    margin: 1rem;
    color: white;
    font-weight: 500;
    letter-spacing: 0.2rem;
    cursor: pointer;
    font-size: 1.2rem;
    border-radius: 0.5rem;
}

.name{
    font-size: 30px;
    margin: 1rem;
    letter-spacing: 0.4rem;
    color: #F1F3F8;
    font-family: var(--title-font);
}

.Description{
    resize: none;
    height: 10rem;
}

.addNewBook{
    width: 12rem;
    padding: 1.5rem;
    margin: 0 auto;
    position: absolute;
    top: 150px;
    left: 5%;
    font-size: 1rem;
    color: white;
    background-color: #0a0d10;
    border: none;
    outline: none;
    cursor: pointer;
    letter-spacing: 0.1rem;
    border-radius: 0.5rem;
}

.showcross{
    cursor: not-allowed;
}

/* classes for book card */

.library{
    margin: 0rem 3rem 5rem 3rem;
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;    
    align-items: flex-start;
    justify-content: flex-start;
}

.bookCard{
    width: 28rem;
    height: 18rem;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    font-family: var(--title-font);
    border: 2px solid black;
    padding: 0.5rem;
}

.cardHeader{
    height: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cardHeaderLeft{
    height: 5rem;
    width: 25rem;
    background-color: var(--card-header-bg);
    color: var(--card-header-font-color);
    font-size: 16px;
    padding: 0.5rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    word-wrap: break-word;
}

.cardHeaderRight{
    height: 5rem;
    width: 3rem;
    background-color: var(--card-header-bg);
    color: var(--card-header-font-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 0.5rem;
}

.delete{
    cursor: pointer;

}

.otherDetails{
    height: 17rem;
    background-color: var(--card-description-bg);
    color: var(--card-description-font-color);
    font-size: 16px;
    padding: 0.5rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    text-align: left;
}

.descriptionBox{
    width: 27rem;
    height: 8rem;
    overflow: auto;
}




